*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    background-color: hsl(217, 19%, 24%);
    width: 35%;
    height: 40%;
    border-radius: 10px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
}

#header{
    color:hsl(150, 100%, 66%);
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
}

#quote{
    color: hsl(193, 38%, 86%);
    font-size: 24px;
    font-weight: 600;
    word-spacing: 1px;
}

.liner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clicker{
    width: 50px;
    height: 50px;
    background-color:hsl(150, 100%, 66%) ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 500px;
    /* bottom: 50px; */
}


@media only screen and (min-width:1000px) and (max-width:1250px){

    #card{
        width: 40%;
        gap: 20px;
    }

    #clicker{
        top:435px;
    }
    
}


@media only screen and (min-width:600px) and (max-width:900px){

    #card{
        width: 60%;
        gap: 20px;
    }

    #clicker{
        top:440px;
    }
    
}

@media only screen and (max-width:500px){

    #card{
        width: 90%;
        height: 50%;
    }

    #clicker{
        top:475px;
    }
    
}